@model farmLogin.Models.InventoryTreatment

@{
    ViewBag.Title = "Initial Treatment";
}

<style>
    .breadcrumb {
        display: inline-block;
        overflow: hidden;
        border-radius: 0px;
        counter-reset: flag;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        position: center;
        background: #87CEFA;
        margin-left: -15px;
    }

        .breadcrumb a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 36px;
            padding: 0 10px 0 60px;
            background: #d1d1d1;
            color: black;
            position: relative;
            box-shadow: 0 3px 6px black;
        }

            .breadcrumb a:first-child {
                padding-left: 46px;
                border-radius: 5px 0 0 5px;
            }

                .breadcrumb a:first-child:before {
                    left: 14px;
                }

            .breadcrumb a:last-child {
                border-radius: 0 5px 5px 0;
                padding-right: 20px;
            }

            .breadcrumb a:after {
                content: '';
                position: absolute;
                top: 0;
                right: -18px;
                width: 36px;
                height: 36px;
                transform: scale(0.707) rotate(45deg);
                z-index: 1;
                background: #d1d1d1;
                box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
                border-radius: 0 5px 0 50px;
            }

            .breadcrumb a:last-child:after {
                content: none;
            }

            .breadcrumb a:before {
                content: counter(flag);
                counter-increment: flag;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: 8px 0;
                position: absolute;
                top: 0;
                left: 30px;
                color: black;
                background: white;
            }

            .breadcrumb a:hover, .breadcrumb a.active,
            .breadcrumb a:hover:after, .breadcrumb a.active:after {
                transition: all 0.5s;
                background: #47A447;
                color: white;
            }

    body {
        background-color: #87CEFA;
    }

    .panel {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .glyphiconImage {
        width: 18px;
        height: 18px;
    }

    .panel:hover img {
        content: url('../../Images/glyphicons-535-lab-alt- hover.png');
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #47A447;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: 100px;
        border-radius: 5%;
    }

        .btn:hover {
            background-color: #25820F;
            transition: 0.5s;
        }

    #btnBack {
        left: -10px;
    }

    #btnSave {
        right: -10px;
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: #d8d8d8;
    }
</style>



<div class="breadcrumb">
    <a href="#">Home</a>
    @Html.ActionLink("Crop Action Page", "ActionPage", "Plantation")
    @Html.ActionLink("Manage Plantations", "Index", "Plantation")
    <a class="active">Treat Plantation</a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-group">*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" style="color:black;"><b><img class="glyphiconImage" src="~/Images/glyphicons-535-lab-alt.png" alt="GlyphiconTreatment"> &nbsp;Plantation Treatment Details</b></h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row" id="PanelContent">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-6 col-md-6">
                                @Html.LabelFor(model => model.TreatmentID, "Treatment", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("TreatmentID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TreatmentID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="PanelContent">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-6 col-md-6">
                                @Html.LabelFor(model => model.InventoryID, "Inventory", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("InventoryID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InventoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="PanelContent">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-6 col-md-6">
                                @Html.LabelFor(model => model.TreatmentQnty, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TreatmentQnty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TreatmentQnty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="PanelContent">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-6 col-md-6">
                                @Html.LabelFor(model => model.Unit, "Unit", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("Unit", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-success" type="submit" id="btnSave">
                <span class="glyphicon glyphicon-save"></span>
                Save
            </button>
        </div>
    </div>

}
<div class="row">

    <div class="col-xs-6 col-md-4">
        @using (Html.BeginForm("Index", "CropType", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="col-xs-6 col-md-4">
                <div class=input-group>
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="btnBack">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
        var element = document.getElementById("navCrop");
        element.classList.add("active");
</script>