<style>
    .card {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        min-width: 220px;
        min-height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5%;
        justify-content: center;
        margin-bottom: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    }

    .btn {
        margin-top: 10px !important;
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #52963f;
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }


        .btn,
        .btn::after {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

            .btn::before,
            .btn::after {
                background: #0b689e;
                border-radius: 5%;
                content: '';
                position: absolute;
                z-index: -1;
                left: 40px;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
            }

            .btn:after {
                height: 100%;
                left: 15px;
                top: 0;
                width: 0;
            }

            .btn:hover:after {
                width: 90%;
            }

            .btn:hover {
                background-color: #24820e;
                box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
            }


    body {
        background-color: #3594C4;
        overflow: hidden;
    }


    .card:hover img {
        transform: scale(1.2);
        -webkit-transition: transform 0.20s ease-in-out;
        -moz-transition: transform 0.20s ease-in-out;
    }

    .btn-success {
        min-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    #clockCard {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        min-width: 200px;
        min-height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5%;
        justify-content: center;
        margin-bottom: 20px;
    }

    #blankBtn {
        background-color: transparent;
        border-color: transparent;
        box-shadow: 0 3px 6px #fff;
    }

    #blankBtn {
        background-color: transparent;
        border-color: transparent;
        box-shadow: 0 3px 6px #fff;
    }

    #greenHR {
        visibility: hidden;
    }

    #blueHR {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }
</style>

@{
    ViewBag.Title = "Vehicle - Action Page";
}


<div class="row" style="margin-bottom: 150px">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" id="Image" src="~/Images/7. Vehicle.png" alt="Vehicle">
            <div class="card-body">
                <a href='@Url.Action("Create", "Vehicle")' class="btn btn-success btn-lg">Add Vehicle</a>
                <a href='@Url.Action("Index", "Vehicle")' class="btn btn-success btn-lg">View Vehicle</a>
                <a href='@Url.Action("Index", "Vehicle")' class="btn btn-success btn-lg">Manage Vehicle</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/7. Vehicle Type.png" alt="Vehicle Type">
            <div class="card-body">
                <a href='@Url.Action("Create", "VehicleType")' class="btn btn-success btn-lg">Add Vehicle Type</a>
                <a href='@Url.Action("Index", "VehicleType")' class="btn btn-success btn-lg">View Vehicle Type</a>
                <a href='@Url.Action("Index", "VehicleType")' class="btn btn-success btn-lg">Manage Vehicle Type</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" id="Image" src="~/Images/7. Vehicle Service.png" alt="Vehicle Service">
            <div class="card-body">
                <a href='@Url.Action("Create", "VehicleService")' class="btn btn-success btn-lg">Capture Vehicle Service</a>
                <a href='@Url.Action("Index", "VehicleService")' class="btn btn-success btn-lg">View Vehicle Service</a>
                <a href='@Url.Action("Index", "VehicleService")' class="btn btn-success btn-lg">Manage Vehicle Service</a>
            </div>
        </div>
    </div>
</div>


<script>
    //Active Navbar
    var element = document.getElementById("navVehicle");
    element.classList.add("active");
</script>