@model IEnumerable<farmLogin.Models.FarmWorker>

@{
    ViewBag.Title = "Index";
}

<h2>Farm Workers</h2>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FarmWorkerFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmWorkerLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmWorkerContactNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmWorkerIDNum)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Country.CountryDescr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Farm.FarmName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FarmWorkerType.FarmWorkerTypeDescr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender.GenderDescr)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Province.ProvinceDescr)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title.TitleDescr)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FarmWorkerFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmWorkerLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmWorkerContactNum)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FarmWorkerImg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surburb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ContractStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmWorkerIDNum)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Country.CountryDescr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farm.FarmName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FarmWorkerType.FarmWorkerTypeDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.ProvinceDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.TitleDescr)
            </td>
        </tr>
    }

</table>

<br /><br />
<a href="@Url.Action("Export","FarmWorkerReport")">Export Report</a>
