@model farmLogin.ViewModels.UserAccessLevelIndexViewModel
@using PagedList.Mvc @*PageList Library*@

@{
    ViewBag.Title = "Index";
}

<style>
     /*Confirmation Box*/
      #btnContinueDelete {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #e0422a;
        border-color: #e0422a;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueDelete:hover {
            background-color: #bc1c03;
            border-color: #bc1c03;
            transition: 0.3s;
        }

        #btnContinueCancel {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #9ba5a4;
        border-color: #9ba5a4;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueCancel:hover {
            background-color: #8c9190;
            border-color: #8c9190;
            transition: 0.3s;
        }

    .btnPagination li > a {
        background: red;
    }

    .breadcrumb {
        display: inline-block;
        overflow: hidden;
        border-radius: 0px;
        counter-reset: flag;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        position: center;
        background: #fff;
        margin-left: -15px;
    }

        .breadcrumb a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 36px;
            padding: 0 10px 0 60px;
            background: #d1d1d1;
            color: black;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        }

            .breadcrumb a:first-child {
                padding-left: 46px;
                border-radius: 5px 0 0 5px;
            }

                .breadcrumb a:first-child:before {
                    left: 14px;
                }

            .breadcrumb a:last-child {
                border-radius: 0 5px 5px 0;
                padding-right: 20px;
            }

            .breadcrumb a:after {
                content: '';
                position: absolute;
                top: 0;
                right: -18px;
                width: 36px;
                height: 36px;
                transform: scale(0.707) rotate(45deg);
                z-index: 1;
                background: #d1d1d1;
                box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
                border-radius: 0 5px 0 50px;
            }

            .breadcrumb a:last-child:after {
                content: none;
            }

            .breadcrumb a:before {
                content: counter(flag);
                counter-increment: flag;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: 8px 0;
                position: absolute;
                top: 0;
                left: 30px;
                color: black;
                background: white;
            }


            .breadcrumb a:hover, .breadcrumb a.active,
            .breadcrumb a:hover:after, .breadcrumb a.active:after {
                transition: all 0.5s;
                background: #47A447;
                color: white;
            }

    body {
        background-color: #fff;
    }

    .panel {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .panel:hover span {
        color: #1b8bc6;
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #479CE5;
        border-color: #428bca;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: auto!important;
        border-radius: 5%;
    }

    .btn:hover {
        background: #2072d6;
        border-color: #2072d6;
        transition: 0.5s;
    }


    .well {
        background-image: none;
        background-color: #eaeaea;
    }

    .table-heading {
        color: #0AA633;
    }

    #ActionIcon:hover {
        transform: scale(1.3);
        transition: 0.3s;
        -webkit-backface-visibility: hidden;
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }

    .glyphicon-pencil {
        color: #47A447;
    }

    .glyphicon-eye-open {
        color: #479ce5;
    }

    .glyphicon-trash {
        color: red;
    }

    #SearchBar {
        right: -305px;
    }

    .btn-info {
        right: 20px;
    }

        .btn-info:hover {
            transition: 0.5s;
        }

        td > a{
        padding: 3px;
    }

     .pagination > li > a {
        font-weight: 600;
        border-color: #428BCA;
        font-family: Arial;
        font-size: 14px;
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);*/
    }

        .pagination > li > a:hover {
            background: #428BCA;
            border-color: #428BCA;
            transition: 0.5s;
            color: white;
            /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);*/
        }



</style>


<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("User Action Page", "ActionPage", "User")
    <a class="active">Manage User Access Role</a>
</div>

<div class="well">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            @using (Html.BeginForm("Create", "UserAccessLevel", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success register" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add User Access Role
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                <span class="table-heading">@Html.DisplayNameFor(model => model.UserAccessLevels.First().UserAccessLevelDescr)</span>
            </th>
            <th>
                <span class="table-heading" ;">@Html.DisplayNameFor(model => model.UserAccessLevels.First().Notes)</span>
            </th>
            <th>
                <span class="table-heading" ;">Actions</span>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.UserAccessLevels)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccessLevelDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.UserAccessLevelID})" data-toggle="tooltip" title="Details">
                    <i class="glyphicon glyphicon-eye-open" id="ActionIcon"></i>
                    <span class="sr-only">Details</span>
                </a>
                <a href="@Url.Action("Edit", new { id = item.UserAccessLevelID})" data-toggle="tooltip" title="Edit">
                    <i class="glyphicon glyphicon-pencil" id="ActionIcon"></i>
                    <span class="sr-only">Edit</span>
                </a>
                @*<a href="@Url.Action("Delete", new { id = item.UserAccessLevelID })" data-toggle="tooltip" title="Delete">
                    <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                    <span class="sr-only">Details</span>
                </a>*@
                <a id="deleteItem" class="deleteItem" data-target="#basic"
                   data-toggle="modal"
                   data-path="@Url.Action("Delete", "UserAccessLevel", new { id = item.UserAccessLevelID })" title="Delete">
                    <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                </a>
            </td>
        </tr>
    }
</table>
        <!-- MODAL -->
<div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button id="btnContinueCancel" data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<p>
    @*condition? first_expression : second_expression*@
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all " : "You search for " + Model.Search + " found ")@Model.UserAccessLevels.TotalItemCount access roles
</p>

@*Generate paging links*@
<div>
    @*wrap in div for presentation purpose*@
    Page @(Model.UserAccessLevels.PageCount < Model.UserAccessLevels.PageNumber ? 0 : @*evaluate whether or not there are any pages to display*@
    Model.UserAccessLevels.PageNumber) of @Model.UserAccessLevels.PageCount @*Display Page x of y*@
    @Html.PagedListPager(Model.UserAccessLevels, page => Url.Action("Index",@*Takes list of inventories and produces a hyperlink to each page*@
    new
    {
        Search = @Model.Search,
        page
    }))
</div>

@section Scripts {
    <script>
        var path_to_delete;

        $(".deleteItem").click(function (e) {
            path_to_delete = $(this).data('path');
        });

        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">@Model.JavaScriptToRun</script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function myDelSuccess() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "success",
                title: "Success!",
                text: "User Access Level has successfully been removed.",
                type: "warning",
            }).then(function () {
                window.location = "/UserAccessLevel/Index"
            })
        }
    </script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function myFail() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "error",
                title: "Error!",
                text: "This Access Level is in use by a User.",
                type: "warning"
            }).then(function () {
                window.location = "/UserAccessLevel/Index"
            })
        }

        //Active Navbar
        var element = document.getElementById("navUser");
        element.classList.add("active");
    </script>
}