@model farmLogin.Models.Land

@{
    ViewBag.Title = "Manage Farm/ Land / Field";
}

<style>
    /*Confirmation Box*/
    #btnContinueDelete {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #e0422a;
        border-color: #e0422a;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueDelete:hover {
            background-color: #bc1c03;
            border-color: #bc1c03;
            transition: 0.3s;
        }

    #btnContinueCancel {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #9ba5a4;
        border-color: #9ba5a4;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueCancel:hover {
            background-color: #8c9190;
            border-color: #8c9190;
            transition: 0.3s;
        }

    .breadcrumb {
        display: inline-block;
        overflow: hidden;
        border-radius: 0px;
        counter-reset: flag;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        position: center;
        background: #fff;
        margin-left: -15px;
    }

        .breadcrumb a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 36px;
            padding: 0 10px 0 60px;
            background: #d1d1d1;
            color: black;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        }

            .breadcrumb a:first-child {
                padding-left: 46px;
                border-radius: 5px 0 0 5px;
            }

                .breadcrumb a:first-child:before {
                    left: 14px;
                }

            .breadcrumb a:last-child {
                border-radius: 0 5px 5px 0;
                padding-right: 20px;
            }

            .breadcrumb a:after {
                content: '';
                position: absolute;
                top: 0;
                right: -18px;
                width: 36px;
                height: 36px;
                transform: scale(0.707) rotate(45deg);
                z-index: 1;
                background: #d1d1d1;
                box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
                border-radius: 0 5px 0 50px;
            }

            .breadcrumb a:last-child:after {
                content: none;
            }

            .breadcrumb a:before {
                content: counter(flag);
                counter-increment: flag;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: 8px 0;
                position: absolute;
                top: 0;
                left: 30px;
                color: black;
                background: white;
            }


            .breadcrumb a:hover, .breadcrumb a.active,
            .breadcrumb a:hover:after, .breadcrumb a.active:after {
                transition: all 0.5s;
                background: #47A447;
                color: white;
            }

    body {
        background-color: #fff;
    }

    .panel {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .panel:hover span {
        color: #1b8bc6;
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #479CE5;
        border-color: #428bca;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: auto !important;
        border-radius: 5%;
    }

        .btn:hover {
            background: #2072d6;
            border-color: #2072d6;
            transition: 0.5s;
        }


    .well {
        background-image: none;
        background-color: #eaeaea;
    }

    .table-heading {
        color: #0AA633;
    }

    #ActionIcon:hover {
        transform: scale(1.3);
        transition: 0.3s;
        -webkit-backface-visibility: hidden;
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }

    .glyphicon-pencil {
        color: #42b229;
    }

    .glyphicon-eye-open {
        color: #298fb2;
    }

    .glyphicon-trash {
        color: red;
    }

    .glyphicon-usd {
        color: #e0bf38;
    }

    #SearchBar {
        right: -375px;
    }

    .btn-info {
        right: 20px;
    }

        .btn-info:hover {
            transition: 0.5s;
        }


    #Filter {
        right: -80px;
    }

    td > a {
        padding: 3px;
    }

    #Order {
        font-weight: 600;
        background-color: #479CE5;
        border-color: #428bca;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: auto !important;
        border-radius: 5%;
        color: #fff;
    }

        #Order:hover {
            background: #2072d6;
            border-color: #2072d6;
            transition: 0.5s;
        }

    .pagination > li > a {
        font-weight: 600;
        border-color: #428BCA;
        font-family: Arial;
        font-size: 14px;
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);*/
    }

        .pagination > li > a:hover {
            background: #428BCA;
            border-color: #428BCA;
            transition: 0.5s;
            color: white;
            /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);*/
        }

    .nav-tabs {
        font-weight: 600;
    }

    .table-heading {
        color: #0AA633;
    }

    .fa-edit {
        color: #f27d00;
    }
</style>


<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</header>


<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Farm Action Page", "ActionPage", "Farm")
    <a class="active">Manage Farms/Lands/Fields</a>
</div>


<div class="well">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            @using (Html.BeginForm("Create", "Farm", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Farm
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-6 col-md-2">
            @using (Html.BeginForm("Create", "Land", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Land
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-6 col-md-2">
            @using (Html.BeginForm("Create", "Field", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Field
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#FarmDetails" id="tabItem1">Farm List</a></li>
    <li class="active"><a data-toggle="tab" href="#LandDetails" id="tabItem2">Land List</a></li>
    <li><a data-toggle="tab" href="#FieldDetails" id="tabItem3">Field List</a></li>

</ul>




<!-- Farm List -->
@if (Model != null)
{
    var db = new farmLogin.Models.FarmDbContext();
    var myList = db.Farms.ToList();
    var landList = db.Lands.ToList();
    var fieldList = db.Fields.ToList();

    <div class="tab-content">
        <div id="FarmDetails" class="tab-pane fade">
            <table class="table">
                <tr>
                    <th class="table-heading">
                        Farm Name
                    </th>
                    <th class="table-heading">
                        Province
                    </th>
                    <th class="table-heading">
                        Actions
                    </th>
                </tr>
                @foreach (var item in myList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FarmName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province.ProvinceDescr)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.FarmID }) |*@
                            <a href="@Url.Action("Details", "Farm", new { id = item.FarmID })" title="Details">
                                <i class="glyphicon glyphicon-eye-open" id="ActionIcon"></i>
                            </a>
                            @*@Html.ActionLink("Details", "Details", new { id = item.FarmID }) |*@
                            <a href="@Url.Action("Edit", "Farm", new { id = item.FarmID })" title="Edit">
                                <i class="glyphicon glyphicon-pencil" id="ActionIcon"></i>
                            </a>
                            
                            <a id="deleteItem" class="deleteItem" data-target="#basic"
                               data-toggle="modal"
                               data-path="@Url.Action("Delete", "Farm", new { id = item.FarmID })" title="Delete">
                                <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <!-- Land Tab -->
        <div id="LandDetails" class="tab-pane fade in active">
            <table class="table">
                <tr>
                    <th class="table-heading">
                        Land Name
                    </th>
                    <th class="table-heading">
                        Farm Name
                    </th>
                    <th class="table-heading">
                        Actions
                    </th>
                </tr>
                @foreach (var item in landList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Farm.FarmName)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.LandID }) |*@
                            <a href="@Url.Action("Details", "Land", new { id = item.LandID })" title="Details">
                                <i class="glyphicon glyphicon-eye-open" id="ActionIcon"></i>
                            </a>
                            @*@Html.ActionLink("Details", "Details", new { id = item.LandID }) |*@
                            <a href="@Url.Action("Edit", "Land", new { id = item.LandID })" title="Edit">
                                <i class="glyphicon glyphicon-pencil" id="ActionIcon"></i>
                            </a>
                            <a href="@Url.Action("CaptureRainfallRec", "RainfallRecord", new { id = item.FarmID })" title="Capture Rainfall">
                                <i class="glyphicon glyphicon-tint" id="ActionIcon"></i>
                            </a>
                            <a id="deleteItem" class="deleteItem" data-target="#basic"
                               data-toggle="modal"
                               data-path="@Url.Action("Delete", "Land", new { id = item.LandID })" title="Delete">
                                <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <!-- Field Tab -->
        <div id="FieldDetails" class="tab-pane fade">
            <table class="table">
                <tr>
                    <th class="table-heading">
                        Field Name
                    </th>
                    <th class="table-heading">
                        Land Name
                    </th>
                    <th class="table-heading">
                        Hectares
                    </th>
                    <th class="table-heading">
                        Status
                    </th>
                    <th class="table-heading">Actions</th>
                </tr>
                @foreach (var item in fieldList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Land.LandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldHectares)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldStatu.FieldStatDescr)
                        </td>
                        
                        <td>
                            @*@Html.ActionLink("Details", "Details", new { id = item.FieldID }) |*@
                            <a href="@Url.Action("Details", "Field", new { id = item.FieldID })" title="Details">
                                <i class="glyphicon glyphicon-eye-open" id="ActionIcon"></i>
                            </a>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.FieldID }) |*@
                            <a href="@Url.Action("Edit", "Field", new { id = item.FieldID })" title="Edit">
                                <i class="glyphicon glyphicon-pencil" id="ActionIcon"></i>
                            </a>
                            <a href="@Url.Action("SetStatus", "Field", new { id = item.FieldID })" title="Set Status">
                                <i class="fas fa-edit" id="ActionIcon"></i>
                            </a>
                            <a id="deleteItem" class="deleteItem" data-target="#basic"
                               data-toggle="modal"
                               data-path="@Url.Action("Delete", "Field", new { id = item.FieldID })" title="Delete">
                                <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>



            <!-- MODAL -->
    <div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this item?
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-default" id="btnContinueCancel" style="float:left">CANCEL</button>
                    <button id="btnContinueDelete" type="button" class="btn btn-primary">DELETE</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        var path_to_delete;

        $(".deleteItem").click(function (e) {
            path_to_delete = $(this).data('path');
        });

        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">@Model.JavaScriptToRun</script>
    <script type="text/javascript">
@Model.JavaScriptToRun
        function myDelSuccess() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "success",
                title: "Success!",
                text: "Item has successfully been removed.",
                type: "warning",
            }).then(function () {
                window.location = "/Farm/Index"
            })
        }
    </script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function myFail() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "error",
                title: "Error!",
                text: "This Farm cannot be removed. There are Land(s) linked to it!",
                type: "warning"
            }).then(function () {
                window.location = "/Farm/Index"
            })
        }
    </script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function myLandFail() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "error",
                title: "Error!",
                text: "This Land cannot be removed. There are Field(s) linked to it!",
                type: "warning"
            }).then(function () {
                window.location = "/Farm/Index"
            })
        }
    </script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function myFieldFail() {

            //alert('Item has successfully been added.');
            //window.location = "/InventoryType/Index";

            swal({
                icon: "error",
                title: "Error!",
                text: "This Field cannot be removed. There are Plantation(s) linked to it!",
                type: "warning"
            }).then(function () {
                window.location = "/Farm/Index"
            })
        }

        //Active Navbar
        var element = document.getElementById("navFarm");
        element.classList.add("active");
    </script>
}