@model IEnumerable<farmLogin.Models.InventoryTreatment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentQnty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.InvDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment.TreatmentDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit1.UnitDescr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentQnty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.InvDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment.TreatmentDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit1.UnitDescr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
