@model farmLogin.Models.AttendenceSheet

@{
    ViewBag.Title = "clockOut";
}

<style>
    .breadcrumb {
        display: inline-block;
        overflow: hidden;
        border-radius: 0px;
        counter-reset: flag;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        position: center;
        background: #87CEFA;
        margin-left: -15px;
    }

        .breadcrumb a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 36px;
            padding: 0 10px 0 60px;
            background: #d1d1d1;
            color: black;
            position: relative;
            box-shadow: 0 3px 6px black;
        }

            .breadcrumb a:first-child {
                padding-left: 46px;
                border-radius: 5px 0 0 5px;
            }

                .breadcrumb a:first-child:before {
                    left: 14px;
                }

            .breadcrumb a:last-child {
                border-radius: 0 5px 5px 0;
                padding-right: 20px;
            }

            .breadcrumb a:after {
                content: '';
                position: absolute;
                top: 0;
                right: -18px;
                width: 36px;
                height: 36px;
                transform: scale(0.707) rotate(45deg);
                z-index: 1;
                background: #d1d1d1;
                box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
                border-radius: 0 5px 0 50px;
            }

            .breadcrumb a:last-child:after {
                content: none;
            }

            .breadcrumb a:before {
                content: counter(flag);
                counter-increment: flag;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: 8px 0;
                position: absolute;
                top: 0;
                left: 30px;
                color: black;
                background: white;
            }

            .breadcrumb a:hover, .breadcrumb a.active,
            .breadcrumb a:hover:after, .breadcrumb a.active:after {
                transition: all 0.5s;
                background: #47A447;
                color: white;
            }

    body {
        background-color: #87CEFA;
    }

    .panel {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .panel:hover span {
        color: #1b8bc6;
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #47A447;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: 100px;
        border-radius: 5%;
    }

        .btn:hover {
            background-color: #25820F;
            transition: 0.5s;
        }

    #btnBack {
        left: -10px;
    }

    #btnSave {
        right: -10px;
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: #d8d8d8;
    }

    #addInventoryType {
        width: 175px;
        background-color: #2072D6;
        border-color: #2072D6;
    }

        #addInventoryType:hover {
            background: #1955a0;
            border-color: #1955a0;
        }

        .ui-timepicker-wrapper {
	overflow-y: auto;
	max-height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

</style>

<div class="breadcrumb">
    <a href="#">Home</a>
    @Html.ActionLink("Farm Worker Action Page", "ActionPage", "FarmWorker")
    <a class="active">Clock Out</a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AttendenceSheetID)
        @Html.HiddenFor(model => model.ClockInTime);
        @Html.HiddenFor(model => model.UserID)


        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:black;"><b><span class="glyphicon glyphicon-tree-conifer"></span> &nbsp;Clock Out</b></h3>
            </div>
            <div style="color: red">
                @if (@ViewBag.Error != null)
                {
                    <label><br />&nbsp;&nbsp; @ViewBag.Error <br /></label>
                }

            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row" id="PanelContent">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    @Html.LabelFor(model => model.ClockOutTime, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                  @*  @Html.EditorFor(model => model.ClockOutTime, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*<input id="basicExample" class="time ui-timepicker-input" autocomplete="off" type="text" />*@
                                    
                                   @*//   @Html.EditorFor(model => model.ClockOutTime, new { htmlAttributes = new { @class = "form-control", @id="basicExample"} })*@
                                    @Html.EditorFor(model => model.ClockOutTime, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                                    @Html.ValidationMessageFor(model => model.ClockOutTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="PanelContent">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    @Html.LabelFor(model => model.FarmWorkerNum, "FarmWorkerNum", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-10">
                                    @Html.DropDownList("FarmWorkerNum", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FarmWorkerNum, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row" id="PanelContent">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <div class="col-xs-6 col-md-6">
                                    @Html.LabelFor(model => model.UserID, "User", htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="col-md-10">
                                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-success" type="button" id="btnSave" data-toggle="modal" data-target="#confirm-submit">
                    <span class="glyphicon glyphicon-save"></span>
                    Save
                </button>
            </div>
        </div>
                            <!-- Modal -->
        <div class="modal fade" id="confirm-submit" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss=" modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please confirm that you want to save these details.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" style="float:right" id="confirmBtn">CONFIRM</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" style="float: left">CANCEL</button>
                    </div>
                </div>

            </div>
        </div>
}

<div class="row">

    <div class="col-xs-6 col-md-4">
        @using (Html.BeginForm("Index", "Farm", FormMethod.Get, new { @class = "form-inline" }))
            {
            <div class="col-xs-6 col-md-4">
                <div class=input-group>
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="btnBack">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.timepicker.js"></script>
    <script src="~/Scripts/globalize/number.js"></script>

    <script type="text/javascript">
        @Model.JavaScriptToRun
    </script>
    <script type="text/javascript">
        @Model.JavaScriptToRun
        function mySuccess() {

            swal({
                icon: "success",
                title: "Success!",
                text: "Worker has successfully been clocked out!",
                type: "warning",
            }).then(function () {
                window.location = "/FarmWorker/ActionPage"
            })
        }
    </script>
@*<script type="text/javascript">
        $(function() {
            $('#basicExample').timepicker();
        });
</script>*@
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".date-picker").datetimepicker();
            $(".date-picker").datetimepicker("setDate", "+0d");
        });
</script>
<script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".date-picker").datetimepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-M-yy',
                    controlType: 'select',
                    timeFormat: 'hh:mm TT'
                });

            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };

        });

</script>
}