@model IEnumerable<farmLogin.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleAmnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseAgreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.UnitDescr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleAmnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.UnitDescr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaleID })
        </td>
    </tr>
}

</table>

<script>
    //Active Navbar
    var element = document.getElementById("navCrop");
    element.classList.add("active");
</script>