@*@model IEnumerable<farmLogin.Models.BiologicalDisaster>*@
@model farmLogin.Models.BiologicalDisaster
@{
    ViewBag.Title = "Biological Disasters";
}
<style>
    /*Confirmation Box*/
    #btnContinueDelete {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #e0422a;
        border-color: #e0422a;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueDelete:hover {
            background-color: #bc1c03;
            border-color: #bc1c03;
            transition: 0.3s;
        }

    #btnContinueCancel {
        font-family: Arial;
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
        background-color: #9ba5a4;
        border-color: #9ba5a4;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

        #btnContinueCancel:hover {
            background-color: #8c9190;
            border-color: #8c9190;
            transition: 0.3s;
        }

    .breadcrumb {
        display: inline-block;
        overflow: hidden;
        border-radius: 0px;
        counter-reset: flag;
        text-align: center;
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
        position: center;
        background: #fff;
        margin-left: -15px;
    }

        .breadcrumb a {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 12px;
            line-height: 36px;
            padding: 0 10px 0 60px;
            background: #d1d1d1;
            color: black;
            position: relative;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        }

            .breadcrumb a:first-child {
                padding-left: 46px;
                border-radius: 5px 0 0 5px;
            }

                .breadcrumb a:first-child:before {
                    left: 14px;
                }

            .breadcrumb a:last-child {
                border-radius: 0 5px 5px 0;
                padding-right: 20px;
            }

            .breadcrumb a:after {
                content: '';
                position: absolute;
                top: 0;
                right: -18px;
                width: 36px;
                height: 36px;
                transform: scale(0.707) rotate(45deg);
                z-index: 1;
                background: #d1d1d1;
                box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
                border-radius: 0 5px 0 50px;
            }

            .breadcrumb a:last-child:after {
                content: none;
            }

            .breadcrumb a:before {
                content: counter(flag);
                counter-increment: flag;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: 8px 0;
                position: absolute;
                top: 0;
                left: 30px;
                color: black;
                background: white;
            }


            .breadcrumb a:hover, .breadcrumb a.active,
            .breadcrumb a:hover:after, .breadcrumb a.active:after {
                transition: all 0.5s;
                background: #47A447;
                color: white;
            }

    body {
        background-color: #fff;
    }

    .panel {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    }

    #PanelContent {
        color: black;
        margin-left: 60px;
    }

    .panel:hover span {
        color: #1b8bc6;
        transition: 0.5s;
    }

    .panel-success {
        color: green;
    }

    .btn {
        font-weight: 600;
        background-color: #479CE5;
        border-color: #428bca;
        font-family: Arial;
        font-size: 14px;
        display: inline-block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        width: auto !important;
        border-radius: 5%;
    }

        .btn:hover {
            background: #2072d6;
            border-color: #2072d6;
            transition: 0.5s;
        }


    .well {
        background-image: none;
        background-color: #eaeaea;
    }

    .table-heading {
        color: #0AA633;
    }

    #ActionIcon:hover {
        transform: scale(1.3);
        transition: 0.3s;
        -webkit-backface-visibility: hidden;
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }

    .glyphicon-pencil {
        color: #42b229;
    }

    .glyphicon-eye-open {
        color: #298fb2;
    }

    .glyphicon-trash {
        color: red;
    }

    .glyphicon-shopping-cart {
        color: orangered;
    }

    #SearchBar {
        right: -380px;
    }

    .btn-info {
        right: 20px;
    }

        .btn-info:hover {
            transition: 0.5s;
        }


    #Filter {
        right: -80px;
    }

    td > a {
        padding: 3px;
    }

    .pagination > li > a {
        font-weight: 600;
        border-color: #428BCA;
        font-family: Arial;
        font-size: 14px;
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);*/
    }

        .pagination > li > a:hover {
            background: #428BCA;
            border-color: #428BCA;
            transition: 0.5s;
            color: white;
            /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);*/
        }
</style>


<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Admin Action Page", "ActionPage", "Customer")
    <a class="active">Manage Biological Disasters</a>
</div>

<div class="well">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            @using (Html.BeginForm("Create", "BiologicalDisaster", FormMethod.Get, new { @class = "form-inline" }))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success register" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Biological Disaster
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (Model != null)
{
    var db = new farmLogin.Models.FarmDbContext();
    var myList = db.BiologicalDisasters.ToList();

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    <span class="table-heading">@Html.DisplayNameFor(model => model.BioDisasterDescr)</span>
                </th>
                <th>
                    <span class="table-heading">@Html.DisplayNameFor(model => model.BioDisasterNotes)</span>
                </th>
                <th>
                    <span class="table-heading" ;">Actions</span>
                </th>
            </tr>
        </thead>
        @foreach (var item in myList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BioDisasterDescr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BioDisasterNotes)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BioDisasterID})" data-toggle="tooltip" title="Details">
                        <i class="glyphicon glyphicon-eye-open" id="ActionIcon"></i>
                        <span class="sr-only">Details</span>
                    </a>
                    <a href="@Url.Action("Edit", new { id = item.BioDisasterID})" data-toggle="tooltip" title="Edit">
                        <i class="glyphicon glyphicon-pencil" id="ActionIcon"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                    @*<a href="@Url.Action("Delete", new { id = item.BioDisasterID})" data-toggle="tooltip" title="Delete">
                        <i class="glyphicon glyphicon-trash" id="ActionIcon"></i>
                        <span class="sr-only">Details</span>
                    </a>*@
                </td>
            </tr>
        }
    </table>
}



<br />
<br />


<script>
    //Active Navbar
    var element = document.getElementById("navAdmin");
    element.classList.add("active");
</script>